@using WebGaleriMvc.Data
@model List<Araba>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-hover table-bordered">
    <tr>
        <td>Id</td>
        <td>Renk</td>
        <td>Marka</td>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Renk</td>
            <td>@item.Marka</td>
            <td>
                <a asp-action="ArabaSil" asp-route-id="@item.Id">ArabaSil</a>
            </td>
        </tr>
    }
    
</table>


